.header {
    position: fixed;
    top: 0;
    left: 0;

    width: 100vw;

    display: flex;
    align-items: center;

    padding: 5px 60px 5px 50px;

    background: rgba(26,40,120,0.90);
    box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.5);

    text-align: center;

    z-index: 999;
}

.header__logo {
    width: 40px;
}

@media (max-width: 800px) {
    .header__logo {
        display: none;
    }

    .header {
        padding: 5px 30px 5px 0px;
    }
}