.header {
    display: flex;
    align-items: center;

    padding: 5px 60px 5px 20px;

    background: linear-gradient(to top, rgba(26,40,120,0.70), rgba(10,143,196,0.70));

    text-align: center;
}

.header__logo {
    width: 40px;
}