.card__wrap{
  display: flex;
  align-items: center;
}

.card {
  font-size: 18px;
  text-align: center;
  margin-bottom: 6px;
  margin-top: 6px;
  margin-right: 3px;
  margin-left: 3px;
  cursor: pointer;
  perspective: 300px;
  height: 33px;
  width: 170px;
  flex-grow: 0;
  flex-shrink: 0;

  display: flex;
  align-items: center;
}

.done {
    transform: rotateX(-180deg);
}

.cardInner {
  position: relative;
  background-color: transparent;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.cardFront, 
.cardBack {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  padding: 6px 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cardFront {
  background-color: #fff;
  color: black;
}

.cardBack {
  background-color: #1BB95E;
  color: white;
  transform: rotateX(-180deg);
}

.card__icon {
  font-size: 25px;
  transition: color .3s;
}

.card__icon:hover {
  color: #1BB95E;
}

.card__icon_green {
  color: #1BB95E;
}

.remembered .cardFront, .remembered .cardBack {
  text-decoration: line-through;
}

@media(max-width: 800px) {
  .card__icon:hover {
    color: initial;
  }
}